.roomPanel {
  border-style: solid;
  border-width: thin;
  background-color: lightgray;
  border-color: lightgray;
  border-radius: 5px;
  width: 150px;
  display: inline-block;
  margin: 10px;
}

.selectorPanel {
  background-color: white;
  margin: 3px;
}
.roomEnabled {
  border-style: solid;
}

label, select {
  display: block;
  margin-bottom: 3px;
}

.roomSelect {
  display: inline-block;
  margin-top: 5px;
  margin-left: 15px;
  margin-bottom: 10px;
  font-family: Tahoma;
  font-size: 12px;
}

.roomTitle {
  margin-left: 3px;
}

.submitButton {
  background-color: lightgray;
  display: block;
  margin-left: 15px;
}